@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
:root {
  --fsg: 150px;
  --fsm: 85px;
  --fss: 30px;
  --fses: 18px;
  --accent: #20a4f3;
  --darkbg: #1e1f21;
  --darksbg: #2c2d31;
  --darkfg: #d8dee9;
  --lightbg: #ffffff;
  --lightsbg: #f9fafa;
  --lightfg: #000000; }
  @media only screen and (max-width: 68.75em) {
    :root {
      --fsg: 100px;
      --fsm: 65px;
      --fss: 20px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: var(--darkfg);
  font-size: 13.5px;
  transition: 0.2s ease-in-out; }

.darkbg {
  background-color: var(--darkbg); }

.darksbg {
  background-color: var(--darksbg); }

.darkfg {
  color: var(--darkfg); }

.lightbg {
  background-color: var(--lightbg); }

.lightsbg {
  background-color: var(--lightsbg); }

.lightfg {
  color: var(--lightfg); }

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.container {
  width: 150vh;
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 30px;
  padding: 20px; }
  @media only screen and (max-width: 68.75em) {
    .container {
      grid-gap: 20px;
      padding: 40px; } }
  .container > * {
    width: 100%; }

.card {
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.35);
  border-radius: 5px; }
  .card:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.35); }

.fblock {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 68.75em) {
    .fblock {
      grid-row: 1 / span 2;
      grid-column: 1 / span 4; } }

.sblock {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .sblock__date {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px; }
  .sblock__weather {
    display: flex;
    align-items: center;
    justify-content: center; }
  @media only screen and (max-width: 68.75em) {
    .sblock {
      display: none; } }

.clock {
  display: flex;
  align-items: center;
  justify-content: center; }

#hour,
#separator,
#minutes {
  font-size: var(--fsg);
  font-weight: bolder; }

#month,
#day {
  font-size: var(--fsm);
  font-weight: bold; }

#day {
  margin-left: 20px; }

#greetings {
  font-size: var(--fses);
  font-weight: lighter; }
  @media only screen and (max-width: 68.75em) {
    #greetings {
      font-size: var(--fss); } }

.weather-icon img {
  width: 80px;
  height: 80px; }

.temperature-value p {
  font-size: var(--fss);
  font-weight: bolder;
  margin-left: 15px; }

.temperature-description p {
  font-size: var(--fss);
  margin-left: 15px; }

.qlink {
  grid-row: 3 / span 2;
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  padding: 30px; }
  @media only screen and (max-width: 68.75em) {
    .qlink {
      grid-row: 3 / span 2;
      grid-column: 1 / span 4;
      grid-gap: 40px;
      padding: 20px; } }
  .qlink__icon {
    width: 26px;
    height: 26px; }
  .qlink__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--darksbg);
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.35);
    border-radius: 5px; }
    .qlink__link-1 {
      grid-row: 1;
      grid-column: 1; }
    .qlink__link-2 {
      grid-row: 1;
      grid-column: 2; }
    .qlink__link-3 {
      grid-row: 2;
      grid-column: 1; }
    .qlink__link-4 {
      grid-row: 2;
      grid-column: 2; }
    .qlink__link-5 {
      grid-row: 1;
      grid-column: 3; }
    .qlink__link-6 {
      grid-row: 2;
      grid-column: 3; }
    .qlink__link:hover {
      background-color: var(--accent);
      transform: translateY(-0.3rem);
      box-shadow: 0 20px 30px rgba(0, 0, 0, 0.35); }
      .qlink__link:hover svg {
        stroke: var(--darkbg); }

.qlist {
  display: flex;
  align-items: center;
  flex-direction: column; }
  @media only screen and (max-width: 68.75em) {
    .qlist {
      display: none; } }
  .qlist__1 {
    grid-column: 3;
    grid-row: 3 / span 2; }
  .qlist__2 {
    grid-column: 4;
    grid-row: 3 / span 2; }
  .qlist__head {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 30px;
    height: 30px; }
  .qlist__link {
    text-decoration: none;
    font-size: var(--fses);
    margin-top: 1px;
    padding: 10px 12px;
    border-radius: 5px;
    font-weight: bold; }
    .qlist__link:hover {
      background-color: var(--accent);
      color: var(--darkbg); }
