:root {
    /* Light Colors  */
    
    /* Concept-Dark is a dark-mode only theme. Light theme mirrors dark. */
    --background: #373b3e; /* Background color */
    --accent: #ff9d47; /* Hover color */
    --cards: #323538; /* Cards color */
  
    /* Fonts Color */
    --fg: #b5bbc9; /* Foreground color */
    --sfg: #484c52; /* Secondary Foreground color */
  
    /* Image background  */
    --imgcol: linear-gradient(
      rgba(55 59, 62, 0.85),
      rgba(55 59, 62, 0.85)
    ); /* Filter color */
  }
  
  .darktheme {
    /* Dark Colors  */
  
    --background: #373b3e; /* Background color */
    --accent: #ff9d47; /* Hover color */
    --cards: #323538; /* Cards color */
  
    /* Fonts Color */
    --fg: #b5bbc9; /* Foreground color */
    --sfg: #484c52; /* Secondary Foreground color */
  
    /* Image background  */
    --imgcol: linear-gradient(
      rgba(55 59, 62, 0.85),
      rgba(55 59, 62, 0.85)
    ); /* Filter color */
  }
  