/* 
// ╔╗ ╔═╗╔╗╔╔╦╗╔═╗
// ╠╩╗║╣ ║║║ ║ ║ ║
// ╚═╝╚═╝╝╚╝ ╩ ╚═╝ 
*/


/* 
//  ┬  ┬┌─┐┬─┐┬┌─┐┌┐ ┬  ┌─┐┌─┐
//  ┐┌┘├─┤├┬┘│├─┤├┴┐│  ├┤ └─┐
//  ┘ ┴ ┴┴└─┴┴ ┴└─┘┴─┘└─┘└─┘ 
 */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

/* Font Import */

:root {
    /* Font Size */
    --fg-primary: 12vh;
    /* Time and Greetings */
    --fg-secondary: 3vh;
    /* Greetings and Weather widger */
    --fg-date: 8vh;
    /* Date */
    --fg-list: 2vh;
    /* Links List */
    --icon: 3vh;
    /* Icon Size */
    /* Fonts Color */
    --fg: #000000;
    /* Foreground color */
    --sfg: #ffffff;
    /* Sceondary Foreground color */
    /* Light Colors  */
    --accent: #399EE6;
    /* Hover color */
    --background: rgba(245, 245, 245, 0.4);
    /* Background color */
    --cards: rgba(199, 199, 199, 0.4);
    /* Cards color */
    /* Image background  */
    --imgbg: url(https://th.bing.com/th/id/OIP.bN7ySFqHA3m9owZa_bUpLAHaEK?pid=ImgDet&rs=1);
    /* Image URL */
    --imgcol: linear-gradient( rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    /* Filter color */
}

.darktheme {
    /* Dark Colors  */
    --accent: #C9CBFF;
    /* Hover color */
    --background: #1A1826;
    /* Background color */
    --cards: #161320;
    /* Cards color */
    /* Fonts Color */
    --fg: #d8dee9;
    /* Foreground color */
    --sfg: #2c292e;
    /* Secondary Foreground color */
    /* Image background  */
    --imgcol: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    /* Filter color */
}


/* 
//  ┌─┐┌┬┐┬ ┬┬  ┌─┐┌─┐
//  └─┐ │ └┬┘│  ├┤ └─┐
//  └─┘ ┴  ┴ ┴─┘└─┘└─┘ 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
}

.notransition {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.withImageBackground {
    background-image: var(--imgcol), var(--imgbg);
    background-size: cover;
    background-position: center;
}

#themeButton {
    position: absolute;
    margin: 2em 2em 0 0;
    right: 0;
    top: 0;
    color: var(--fg);
    border: none;
    cursor: pointer;
    background-color: #00000000;
}

#themeIcon {
    width: 25px;
    height: 25px;
}

.container {
    width: 145vh;
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 30px;
    padding: 20px;
}

.card {
    background-color: var(--cards);
    border-radius: 7px;
}

.card:hover {
    transform: scale(1.1, 1.1);
}

.card:active {
    transform: scale(0.9, 0.9);
}

.timeBlock {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weatherBlock {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search {
    margin-top: 40px;
    margin-bottom: 30px;
    background: var(--cards);
    border: none;
    border-radius: 7px;
    width: 445%;
    height: 50px;
    color: var(--fg);
    font-size: 14px;
    outline: none;
    text-align: center;
}

.search::placeholder {
    color: var(--fg);
}

.search:focus::placeholder {
    color: var(--sfg);
}

.search:focus {
    background: var(--accent);
    color: var(--sfg);
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.weather {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock {
    display: flex;
    align-items: center;
    justify-content: center;
}

#hour,
#separator,
#minutes {
    font-size: var(--fg-primary);
    font-weight: bolder;
    color: var(--fg);
}

#month,
#day {
    font-size: var(--fg-date);
    font-weight: bold;
    color: var(--fg);
}

#day {
    margin-left: 1.5rem;
}

#greetings {
    font-size: var(--fg-secondary);
    color: var(--fg);
}

.weatherIcon img {
    width: 70px;
    height: 70px;
}

.weatherValue p {
    font-size: var(--fg-secondary);
    font-weight: bolder;
    margin-left: 15px;
    color: var(--fg);
}

.weatherDescription p {
    font-size: var(--fg-secondary);
    margin-left: 15px;
    color: var(--fg);
}

.reduceGap {
    grid-gap: 1rem !important;
}

.removeGap {
    grid-gap: 0 !important;
}

.linksBlock {
    grid-row: 3 / span 2;
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1.5rem;
}

.linksBlockLeft {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
}

.linksBlockRight {
    grid-row: 1 / span 2;
    grid-column: 3 / span 2;
}

.buttonsContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    padding: 20px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.buttonIcon {
    width: var(--icon);
    height: var(--icon);
    color: var(--fg);
}

.button__1 {
    grid-row: 1;
    grid-column: 1;
}

.button__2 {
    grid-row: 1;
    grid-column: 2;
}

.button__3 {
    grid-row: 2;
    grid-column: 1;
}

.button__4 {
    grid-row: 2;
    grid-column: 2;
}

.button__5 {
    grid-row: 1;
    grid-column: 3;
}

.button__6 {
    grid-row: 2;
    grid-column: 3;
}

.button:hover {
    background-color: var(--accent);
}

.button:hover svg {
    stroke: var(--sfg);
    transform: scale(1.3, 1.3);
}

.listsContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 3rem;
    padding: 0.4rem;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.list__1 {
    grid-column: 1;
    grid-row: 1 / span 2;
}

.list__2 {
    grid-column: 2;
    grid-row: 1 / span 2;
}

.listIcon {
    /* margin-top: 3vh; */
    margin-bottom: 2vh;
    color: var(--fg);
    width: var(--icon);
    height: var(--icon);
}

.listItem {
    text-decoration: none;
    font-size: var(--fg-list);
    color: var(--fg);
    margin-top: 1vh;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    width: 80%;
}

.listItem:hover {
    background-color: var(--accent);
    color: var(--sfg);
}


/* M E D I A - Q U E R I E S */

@media only screen and (max-width: 68.75em) {
    .container {
        grid-gap: 20px;
        padding: 40px;
    }
    .timeBlock {
        grid-row: 1 / span 2;
        grid-column: 1 / span 4;
    }
    .weatherBlock {
        display: none;
    }
    #greetings {
        font-size: var(--fg-secondary);
    }
    .linksBlockRight {
        display: none;
    }
    .linksBlockLeft {
        grid-column: 1 / span 4;
    }
    .button {
        grid-gap: 3vw;
        padding-left: 100px;
        padding-right: 100px;
    }
}